*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

body{
    background-color: #D4F2FD;
}
.active{
    background-color: yellow;
    padding-block: 5px;
    padding-inline: 5px;
    border-radius: 3px;
}
.main-container{
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    background-color: #A6E0F4;
    margin-inline: 17%;
    margin-block: 3%;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 30px;
    margin-top: 10px;
    border: 2px solid black;
    /* padding-block: 5px; */
    padding-inline: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.98);
    height: 50px;

}
.left-nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 11px;
}
.left-nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}

.center-nav h2{
    font-weight: bold;
    cursor: pointer;
}
.center-nav h2 span{
    color: red;
}
.right-nav{
    gap: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav hr{
    height: 100%;
}
.all-social{
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.98);
}
.all-social:hover{
    background-color: rgb(235, 233, 233);cursor: pointer;
}
.right-nav button{
    font-size: 7px;
    font-weight: bold;
    padding-inline: 7px;
    padding-block: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.98);
    background-color: red;
    color: white;
    cursor: pointer;
}
.main-container>img{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 500px;
}